---
title: 3D Printing
categories: making
group: "navigation"
---
<!DOCTYPE html>
<html>
  <head>
    <title>Andrew M.C. Dawes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
body { padding-top: 70px; }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Andrew M.C. Dawes</a>
        </div>
        {% assign current = page.url | downcase | split: '/' %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {% if current[1] == 'index.html' %}class="active"{% endif %}><a href="/index.html">Home</a></li>
            <li {% if current[1] == '3dprinting.html' %}class="active"{% endif %}><a href="3dprinting.html">3D Printing</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


<!-- Begin page-specific -->

      <header class="jumbotron subhead" id="overview">
        <h1>3D Printing</h1>
        <p class="lead">We use a lulzbot Taz 5 printer for rapid prototyping and construction of parts in our research (and beyond). This printer is well suited to the size and type of objects we use in our research. Often there are small parts we need quickly and would otherwise cut them from cardboard, PVC, or another simple material. It is much more elegant (and rewarding) to quickly design the perfect part, send it to the printer, and then add it to our setup.</p>
        <p>I presented a talk on using 3d printers in <a href="files/AAPT_2014_Dawes.pdf">Student Projects and Undergraduate Research</a> at the 2014 Winter AAPT meeting in Orlando.</p>
      </header>
      <section id="services">
        <h1>Services</h1>
        <p>If you are in the Portland area and in need of 3D printing services, we provide a full range of low-cost printing services. To place an order, use our 3D Hub via the link below. If you have questions about what can and can't be printed, please <a href="/contact.html">contact me</a>.</p>
        <a href="https://www.3dhubs.com/portland/hubs/andrew-0/3dprint" data-3dhubs-widget="button" data-hub-id="65510" data-type="hubLink" data-color="light" data-size="normal" data-text="Order 3d prints">Order 3d prints</a>

        <script>!function(a,b,c,d){var e,g=(a.getElementsByTagName(b)[0],/^http:/.test(a.location)?"http":"https");a.getElementById(d)||(e=a.createElement(b),e.id=d,e.src=g+"://d3d4ig4df637nj.cloudfront.net/w/2.0.js",e.async=!0,a.body.appendChild(e))}(document,"script",1,"h3d-widgets-js");
        </script>
      </section>

      <section id="printing">
        <h2>Optics Lab Equipment <small>useful for optics research</small></h2>

        <p>We print many objects that are useful in our research.<p>

        <div class="media">
          <a class="pull-left" href="http://www.thingiverse.com/thing:15807"><img src="img/beam_block_base.jpg" width="170 px" class="media-object"></a>
          <div class="media-body">
            <h3 class="media-heading">Beam Block Base</h3>
            <p>This handy object plugs in to a 1/4-20 optical table (1" spacing) and can hold a beam viewer card, business card, or any other temporary beam-block device. We have them in a variety of places around our table. They are great for daily alignment and quick adjustments (especially those just-out-of-reach spots). Thingiverse <a href="http://www.thingiverse.com/thing:15807">Thing #15807</a></p>
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="http://www.thingiverse.com/thing:25902"><img class="media-object" src="img/DAVLL.jpg" width="170 px"></a>
          <div class="media-body">
            <h3 class="media-heading">DAVLL Cell Holder</h3>
            <p>We use a Dichroic Atomic Vapor Laser Lock (DAVLL) in the lab to stabilize our laser frequency. We've used permanent magnets and solenoids but this gives the best of both worlds. Easily remove the cell by separating the two halves. The cell is held in place and mounts securely to a standard optical system with 1/4-20 cap screws. Featured on Thingiverse <a href="http://www.thingiverse.com/thing:25902">Thing #25902</a>.</p>
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="http://www.thingiverse.com/thing:103037"><img src="http://thingiverse-production.s3.amazonaws.com/renders/a8/bf/e7/6e/1b/DSC00198[1_preview_featured.jpg" width="170 px" class="media-object"></a>
          <div class="media-body">
            <h3 class="media-heading">CCD Baffle Adapter</h3>
            <p>This is an adapter that fits two concentric pipes and mounts onto the shutter of a Princeton Instruments Pylon CCD camera, helping prevent stray light from reaching the sensor. The larger pipe outer diameter is ~114 mm (~4.5 inches) and the smaller concentric pipe outer diameter is ~48 mm (~1.9 inches).

The CAD files were designed with a single-extruder 3D printer in mind, so there is no need for support material. The .stl files were generated with OpenSCAD, and .scad files are included so you can customize them if need be. Because of the limited size of the the printer I used, I divided the adapter and spacer into three identical segments. Files for these are attached as well.

If possible, this should be printed in black plastic to minimize internal reflections. Unfortunately, I was almost completely out of black plastic, but I was able to print in white and used a sharpie pen to darken all exposed internal surfaces. Thingiverse <a href="http://www.thingiverse.com/thing:103037">Thing #103037</a>.</p>
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="http://www.thingiverse.com/thing:219511"><img src="http://thingiverse-production.s3.amazonaws.com/renders/7f/b3/5d/6e/34/Wave_plate_paddles1_preview_featured.jpg" width="170 px" class="media-object"></a>
          <div class="media-body">
            <h3 class="media-heading">Fiber Polarizer Paddle</h3>
            <p>This is the paddle for a quarter-half-quarter wave plate - an in-fiber polarization adjuster. We use a Thorlabs' 780-HP fiber. We wrapped the fiber twice around the first and third paddles in the array, and four times around the second paddle. As with waveplates, by adjusting the rotational position of each paddle, the output polarization state of the fiber can be changed.

Diameter of the circular groove for the fiber is about 62mm. The OpenSCAD file the paddle was produced from is included and can be readily adapter to other groove diameters.. Thingiverse <a href="http://www.thingiverse.com/thing:219511">Thing #219511</a>.</p>
          </div>
        </div>
        <div class="page-header">
          <h2>Thingiverse profiles <small>Our less polished designs and work in progress</small></h2>
        </div>

        <div class="media">
          <a class="pull-left" href="https://tinkercad.com/users/cgXDPmAbz9z-andrew-m-c-dawes"><img src="https://tinkercad.com/images/4lXxQQju65F/t200.jpg?t=4fef847a" width="170 px" class="media-object"></a>
          <div class="media-body">
            <h3 class="media-heading">Andrew Dawes</h3>
            <p>A variety of designs at various stages of development.</p>
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="https://tinkercad.com/users/e0TCtkijmSy-hunter-dassonville"><img src="https://tinkercad.com/img/avatar-boy.gif" width="170 px" class="media-object"></a>
          <div class="media-body">
            <h3 class="media-heading">Hunter D.</h3>
            <p>Large-diameter cell frame, Beam tube parts, 40 mm fan tube, and AOM adapter plate.</p>
          </div>
        </div>


        <div class="media">
          <a class="pull-left" href="https://tinkercad.com/users/kowacN6DYB1-noah-holte"><img src="https://tinkercad.com/img/avatar-boy.gif" width="170 px" class="media-object"></a>
          <div class="media-body">
            <h3 class="media-heading">Noah H.</h3>
            <p>DAVLL cell holder and quadcopter parts.</p>
          </div>
        </div>



      </section>

      <section id="fun">
        <div class="page-header">
          <h2>Fun Stuff <small>for kids and demos</small></h2>
        </div>
      <!--
        <div class="media">
          <a class="pull-left" href=""><img src="" width="170 px" class="media-object"></a>
          <div class="media-body">
            <h3 class="media-heading">Top</h3>
            <p>Simple toys are great examples of easy objects to print. I've designed and printed a few tops that the kids are always happy to play with. It's even more fun when they watch it being printed.</p>
          </div>
        </div>

        <div class="media">
          <a class="pull-left"><img src="" class="media-object" width="170 px">
          <div class="media-body">
            <h3 class="media-heading"></h3>
            <p></p>
          </div>
        </div>
        -->
      </section>

      <section id="outreach">
        <h2>Outreach</h2>
        <p>We are intrested in sharing the exciting world of 3D printing. Upon request, we can bring the printer to your school or group, provide a demonstration, or simply create and mail some sample objects if you are just curious about what it does.</p>
      </section>


      <footer>
        <p>&copy; Andrew M.C. Dawes 2013. Built with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> from Twitter. Hosted by <a href="http://www.github.com">github</a></p>
      </footer>

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-831794-5'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
