---
title: STEAM Camp
categories: making
group: "navigation"
---
<!DOCTYPE html>
<html>
  <head>
    <title>Andrew M.C. Dawes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
body { padding-top: 70px; }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Andrew M.C. Dawes</a>
        </div>
        {% assign current = page.url | downcase | split: '/' %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {% if current[1] == 'index.html' %}class="active"{% endif %}><a href="/index.html">Home</a></li>
            <li {% if current[1] == '3dprinting.html' %}class="active"{% endif %}><a href="3dprinting.html">3D Printing</a></li>
            <li {% if current[1] == 'steam.html' %}class="active"{% endif %}><a href="steam.html">STEAM Camp</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
  <!-- Page Content -->
  <div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Winter STEAM Workshop</h1>
    <h2>A week of making and gifting at Pacific University</h2>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="img/cover.jpg" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">In this Workshop</h3>
        <p>we combined science, technology, engineering, art, and math in a variety of ways. Gift projects draw from the concepts of waves, color mixing, binary code, and chemical reactions. Technology is used to copy original artwork onto different materials
          (cnc router) and to explore digital design for 3D printing (<a href="http://tinkercad.com">tinkercad</a>).</p>
        <h3 class="my-3">Major concepts:</h3>
        <ul>
          <li>Color mixing</li>
          <li>Waves (light and sound)</li>
          <li>Binary "code"</li>
          <li>Force &amp; tension</li>
          <li>Metric measurements</li>
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <h3 class="my-4">Color mixing</h3>
    <div class="row">
      <div class="col-md-8">
        <p>Color was a central theme throughout the week so we started talking about color mixing on day one. The primary pigments: red, yellow, and blue, can be mixed in pairs to create secondary colors: orange, green, and purple. While the three <em>primary</em> and three <em>secondary</em> colors provide an adequate palette for most work, we emphasized art that makes exclusive use of <em>intermediate</em> colors. In particular, we use Grant Wood as an example of an artist who is known for working with intermediate colors. As the painter of <em>American Gothic</em>, his work is widely known, but the specific color aspects are not usually discussed. Applications of color mixing included hand-dyed yarn, color-mixed pigments for hand-painted wrapping paper, rock candy colors, and a later study of LED color mixing and filters.
        </p>
        <h4>Waves</h4>
        <p>The scientific aspects of color mixing were discussed in terms of waves, measured by wavelength and frequency. Waves made several appearances throughout the week: sound, light, radio, earthquakes, speakers, and several others.</p>
      </div>
      <div class="col-md-4"><img class="rounded float-right img-fluid" src="img/colors.jpg" alt="color mixing"></div>
    </div>

    <h3 class="my-4">Binary code</h3>
    <div class="row">
      <div class="col-md-8">
        <p>To introduce the concept of binary numbers, we followed a lesson developed by Thinkersmith (from Euguene OR). The main idea is to represent letters using ASCII (the standard computer code for the alphabet and other symbols). To do this, we first
          learn how to represent each letter using eight 'bits' (one/zero or colored-in/blank). The decoder card is shown here, and students practiced coding their initials and then moved on to coding with beads. Several projects and gifts used these
          ideas.
        </p>
        <p>Each letter in the alphabet is represented by eight bits. Each bit can be a bead of a specific color. Use this decoder chart to decode beaded messages.</p>
      </div>
      <div class="col-md-4"><img class="rounded float-right img-fluid" src="img/decoder.png" alt="Card image cap"></div>
    </div>

    <h3 class="my-4">Galaxy tiles</h3>
    <div class="row">
      <img class="col-md-4 rounded float-left img-fluid" src="img/galaxy.png" alt='galaxy tiles'>
      <div class="col-md-8">
        <p>By combining color mixing concepts with the chemistry of solvents, this project creates patterns of permanent color on ceramic tile. Finishing touches include felt feet and a spray-coat of protective lacquer. Your child can explain what colors
          they started with and how the pattern evolved with the addition of solvent.</p>
        <p>Sharpie marker applied to a white tile. Isopropyl alcohol works as a solvent to blur the marker and let colors bleed together.</p>
      </div>
    </div>

    <h3 class="my-4">3D Printer</h3>
    <div class="row">
      <p class="col-md-8">The 3D printer is always an exciting opportunity to make custom objects. With 16 campers, our challenge is making sure everyone gets to take home a printed object before printing duplicates. If your child didn't get everything printed that they
        wanted to, we can continue to print objects designed in <a href="http://tinkercad.com">tinkercad</a> and make arrangements to get them to you. Additionally, we encourage your child to continue to use <a href="http://tinkercad.com">tinkercad</a> for design projects; it provides good practice with 3D concepts like
        perspective, scale, and structure.</p>
      <img class="col-md-4 rounded float-right img-fluid" src="img/tinkercad.png" alt="tinkercad">
    </div>

    <!-- Related Projects Row -->
    <h3 class="my-4">CNC router</h3>
    <div class="row">
      <img class="col-md-4 img-fluid rounded" src="img/cnc.png" alt="Card image cap">
      <div class="col-md-8">
        <p>For the CNC Router, students created original line art to engrave on wood. We converted the drawings to digital files, and programmed the CNC router to carve them into wood panels or picture frames. The focus is on preserving original artwork so drawing accuracy and spelling weren't a concern; we recognize the wide range of ages in the camp, and focus instead on the design process that starts with original art and results in a finished product. We also used the CNC router to make wooden loom frames for weaving hand-dyed yarn. This is an example of mixing high-tech and low-tech to accomplish a project (a theme we bring to several projects during the week).</p>
        <img class="img-fluid" src="img/familyStar.png" alt="">
        <img class="img-fluid" src="img/iloveYou.jpg" alt="">
      </div>
    </div>

    <!-- /.row -->
    <h3 class='my-4'>Amplifier Circuit</h3>
    <div class="row">
      <img class="col-md-4 img-fluid rounded" src="img/circuit.png" alt="circuit">
      <div class="col-md-8">
        <p>This circuit gives students practice constructing circuits with the electronic breadboard (shown as white here, but blue in their kit). They are also introduced to integrated circuit chips, schematic drawings, and multipin connections. While we've talked about and used these ideas in this project, please keep in mind that this is often the first time students have seen these ideas. We aren't aiming for mastry at this point, but we feel that introducing these topics as early as possible is best for kids so that they will be familiar when the concepts come up again. Even college students struggle with circuits like this, so it's ok for it to seem hard or not make sense. We want kids to realize they can build complex projects like this when they listen to and follow instructions, ask questions, and just git it a good try. If wires come undone, or things stop working, this circuit drawing is a good reference for how it should look.</p>
      </div>

    </div>
    <div class="row">
      <h3 class="my-4"><a href="https://flic.kr/s/aHskqjk7ZV">Photos from the week</a></h3>
      <p>A photo album from our activities during camp.</p>
      <a href="https://flic.kr/s/aHskqjk7ZV"><img class="rounded img-fluid float-right" src="https://farm5.staticflickr.com/4599/38519967634_76f1a5ca9d.jpg" alt="Winter STEAM Workshop"></a>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Andrew M.C. Dawes 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
