body {
    background: #ffffff;
	color: #666;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
  	text-align: left;
    line-height: 1.7;
    position:relative;
}

h1, h2, h3 {
    text-align: center;
}
