---
title: Contact
categories: main
group: "navigation"
---
{% include header.html %}

      <!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h2>Contact information</h2>
    </div>
    <div class="col-md-4">
      <address>
          <strong>dawes@pacificu.edu</strong><br>
        <a href="public.key">Public Key</a><br>
        Phone: (503) 352-3171<br>
        Fax: (503) 352-2933<br>
        Office: Price 107<br>
        Lab : Price 124<br>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <strong>Andrew M.C. Dawes</strong><br>
        Physics Department UC#A121<br>
        Pacific University<br>
        2043 College Way<br>
        Forest Grove OR<br>
        97116-1797<br>
      </address>
    </div>
  </div>
</div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Projects</h2>
           <p>My current projects run the gamut of optics, electronics, and computing. My research projects explore the interactions between light (i.e. lasers) and matter (e.g. individual atoms). My research group operates three laser systems, an atom trap, and a variety of experimental instruments. I make things and fix things. 3D printing and robotics are recent hobbies as well.</p>
          <p><a class="btn" href="projects.html">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Bio</h2>
           <p>I came to Pacific University in the Fall of 2008 after graduating from Duke University in May 2008 with my Ph.D. in Physics. My six years at Duke followed four years at Whitman College (Walla Walla, WA) where I graduated in 2002 with a B.A. in Physics.</p>
          <p><a class="btn" href="bio.html">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2><a href="http://dl.dropbox.com/u/1340776/dawes-cv.pdf">Current CV</a></h2>
	  <h3>Recent Papers:</h3>
      <ol class="pubs">
          <li>Andrew M.C. Dawes, `<a href="https://arxiv.org/abs/1909.13651">Undergraduate Quantum Mechanics: a Numerical Approach using QuTiP</a>,' arXiv:1909.13651 [physics.ed-ph] (2019)</li>
          <li>Heejeong Jeong, Chang-Won Lee, Andrew M.C. Dawes, and Daniel J. Gauthier, `<a href="https://www.osapublishing.org/josab/abstract.cfm?uri=josab-36-12-3282">Optical precursors in a weakly dispersive double narrow-resonance dielectric</a>,' <em>JOSA B</em> <b>36</b> 3282 (2019).</li>
          <li>Brandon S. Harms, Blake E. Anthony, Noah T. Holte, Hunter A. Dassonville, and Andrew M.C. Dawes, `<a href="http://journals.aps.org/pra/abstract/10.1103/PhysRevA.90.053818">Multimode Quantum State Tomography Using Unbalanced Array Detection</a>,' <em>Phys. Rev. A</em> <b>90</b>, 053818 (2014).</li>
      </ol>

          <p><a class="btn" href="papers.html">View more &raquo;</a></p>
        </div>
      </div>
{% include footer.html %}
