---
title: Contact
categories: main
group: "navigation"
---
{% include header.html %}

      <!-- Main hero unit for a primary marketing message or call to action -->
<div>
  <h1>Contact Information</h1>
  <div class="row">
    <div class="span4">
  <address>
	  dawes@pacificu.edu<br>
	  <a href="public.key">Public Key</a><br>
	  P (503) 352-3171<br>
	  F (503) 352-2933<br>
	  Office: Price 107<br>
	  Lab : Price 124<br>
  </address>
</div>
<div class="span4">
    <address>
	<strong>Andrew M.C. Dawes</strong><br>
  Physics Department UC#A121<br>
	Pacific University<br>
	2043 College Way<br>
	Forest Grove OR<br>
	97116-1797<br>
  </address>
  </div>
    </div>
  </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Projects</h2>
           <p>My current projects run the gamut of optics, electronics, and computing. My research projects explore the interactions between light (i.e. lasers) and matter (e.g. individual atoms). My research group operates three laser systems, an atom trap, and a variety of experimental instruments. I make things and fix things. 3D printing and robotics are recent hobbies as well.</p>
          <p><a class="btn" href="projects.html">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Bio</h2>
           <p>I came to Pacific University in the Fall of 2008 after graduating from Duke University in May 2008 with my Ph.D. in Physics. My six years at Duke followed four years at Whitman College (Walla Walla, WA) where I graduated in 2002 with a B.A. in Physics.</p>
          <p><a class="btn" href="bio.html">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2><a href="http://dl.dropbox.com/u/1340776/dawes-cv.pdf">Current CV</a></h2>
	  <h3>Recent Papers:</h3>
	  <ol class="pubs">
		  <li> Heejeong Jeong, A. M. C. Dawes and D. J. Gauthier, `<a href="http://www.phy.duke.edu/research/photon/qelectron/pubs/JModOpt58_865_2011.pdf">Carrier-Frequency Dependence of a Step-Modulated Pulse Propagating Through a Single Narrow-Resonance Absorber,</a>' <em>J. Mod. Opt.</em> <strong>58</strong>, 865 (2011).
		<li>A. M. C. Dawes, `Optical switching with cold atoms,' <em>Physics</em> <strong>2</strong>, 41 DOI <a href="http://physics.aps.org/articles/v2/41" title="Physics - Optical switching with cold atoms">10.1103/Physics.2.41</a> (2009)</li></p>
          <p><a class="btn" href="papers.html">View more &raquo;</a></p>
        </div>
      </div>
{% include footer.html %}
