---
title: Useful Stuff
categories: main
group: "navigation"
---
{% include header.html %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <h1>Pacific University Physics</h1>
    <p class="lead">Some links and information relevant to physics students at Pacific.</p>
    <div>
        <script src="https://app.box.com/embed/upload.js?token=u28fe1p4y7dj883qmrqwsyi4r7lnmpdb&folder_id=26325789249&w=385&h=385&i=Please%20use%20this%20form%20to%20upload%20files%20(video%2C%20photo%2C%20etc)%20associated%20with%20your%20capstone%20project%20so%20we%20can%20archive%20them%20for%20future%20department%20use.&d=1&t=Submit%20file%20to%20Physics%20Department%20Archive&r=1" type="text/javascript"></script>
    </div>
{% include footer.html %}
