---
title: Papers
categories: main
group: "navigation"
---
{% include header.html %}
<h1>Publications</h1>
<p class="lead">View my profile on <a href="http://scholar.google.com/citations?hl=en&user=ufHSLboAAAAJ">Google Scholar</a> and <a href="http://www.researcherid.com/rid/A-2157-2011">Researcher ID</a>.</p>

<div class="row">
	<div class="col-md-6">
		<h2>Papers</h2>
		<ol class="pubs">
			<li>Brandon S. Harms, Blake E. Anthony, Noah T. Holte, Hunter A. Dassonville, and Andrew M.C. Dawes, `Multimode Quantum State Tomography Using Unbalanced Array Detection,' arXiv:1407.6389 [quant-ph] (2014) <emph>submitted for publication</emph>.

			<li>A.M.C. Dawes, Noah T. Holte, and Hunter A. Dassonville, `Multimode quantum state tomography of slow light in rubidium vapor,' in Advances in Slow and Fast Light VII; S. Shahriar, F. A. Narducci; Eds., Proc. SPIE <strong>8998</strong>, 89980H (2014); <a href="http://dx.doi.org/10.1117/12.2047536">10.1117/12.2047536</a></li>

			<li>Marcus B. Kienlen, Noah T. Holte, Hunter A. Dassonville, Andrew M.C. Dawes, Kurt D. Iversen, Ryan M. McLaughlin, and Shannon K. Mayer, `<a href="files/keinlen_bluelight_ajp_81_442.pdf">Coherent blue light generation in rubidium vapor</a>,' <em>Am. J. Phy.</em> <strong>81</strong>, 442 (2013).</li>

			<li>A.M.C. Dawes, Noah T. Holte, and Hunter Dassonville, `Quantum state tomography of slow and stored light,' in Advances in Slow and Fast Light VI; S. Shahriar, F. A. Narducci; Eds., Proc. SPIE <strong>8636</strong>, 863610 (2013); <a href="http://dx.doi.org/10.1117/12.2010474">doi:10.1117/12.2010474</a></li>

			<li> Heejeong Jeong, A. M. C. Dawes and D. J. Gauthier, `<a href="http://www.phy.duke.edu/research/photon/qelectron/pubs/JModOpt58_865_2011.pdf">Carrier-Frequency Dependence of a Step-Modulated Pulse Propagating Through a Single Narrow-Resonance Absorber,</a>' <em>J. Mod. Opt.</em> <strong>58</strong>, 865 (2011).</li>

			<li>A. M. C. Dawes, `Optical switching with cold atoms,' <em>Physics</em> <strong>2</strong>, 41 DOI <a href="http://physics.aps.org/articles/v2/41" title="Physics - Optical switching with cold atoms">10.1103/Physics.2.41</a> (2009)</li>

			<li>A.M.C. Dawes, D.J. Gauthier, S. Schumacher, N.H. Kwong, R. Binder and A.L. Smirl, `Transverse optical patterns for ultra-low-light-level all-optical switching,' <em>Laser & Photonics Rev.</em> <strong>DOI</strong> <a href="http://doi.wiley.com/10.1002/lpor.200810067">10.1002/lpor.200810067</a> (2009). <a href="files/dawes_lpr_preprint.pdf">[preprint]</a></li>

			<li>A.M.C. Dawes, `<a href="files/pssr.200950106.pdf">Towards a single-photon all-optical transistor</a>,' <em>Phys. Status Solidi RRL</em> <strong>3</strong>, A17 (2009).</li>

			<li>A.M.C. Dawes, `Using transverse optical patterns for ultra-low-light all-optical switching,' Duke University Ph.D. Dissertation, unpublished (2008). <a href="files/Dawes_dissertation.pdf">[PDF 7.7 MB]</a></li>

			<li>A.M.C. Dawes and D.J. Gauthier, `<a href="files/cqo9_paper.pdf">Using Transverse Patterns for All-Optical Switching</a>,' in Coherence and Quantum Optics IX; N.P. Bigelow, J.H. Eberly, C.R. Stroud; Eds., (2008).</li>

			<li>J.A. Greenberg, M. Oria, A.M.C. Dawes, D.J. Gauthier, <a href="files/OptExpress15_17699_2007.pdf">Absorption-Induced Trapping in an Anisotropic Magneto-optical Trap</a>, <em>Opt. Express</em> <b>15</b>, 17699 (2007).</li>

			<li>A.M.C. Dawes, L. Illing, J.A. Greenberg, and D.J. Gauthier, <a href="files/Switching_PRA_77_013833.pdf">All-optical switching with transverse optical patterns</a>, <em>Phys. Rev. A</em> <b>77</b>, 013833 (2007).</li>

			<li>Z. Zhu, A.M.C. Dawes, D.J. Gauthier, L. Zhang, and A.E. Willner, <a href="files/JLT25_201_2007.pdf">Broadband SBS slow light in an optical fiber</a>, <em>J. Lightwave Tech.</em> <b>25</b>, 201 (2007).</li>

			<li>H. Jeong, A.M.C. Dawes, and D.J. Gauthier, <a href="files/PRL96_143901.pdf">Direct observation of optical precursors in a region of anomalous dispersion</a>, <em>Phys. Rev. Lett.</em> <b>96</b>, 143901 (2006).</li>

			<li>M.D. Stenner and M.A. Neifeld, Z. Zhu, A.M.C. Dawes, and D.J. Gauthier, Distortion management in slow-light pulse delay, <em>Opt. Express</em> <b>13</b>, 9995 (2005).</li>

			<li>A.M.C. Dawes, L. Illing, S.M. Clark, and D.J. Gauthier, All-optical switching in rubidium vapor, <em>Science</em> <b>308</b>, 672 (2005) [<a href="http://www.sciencemag.org/cgi/content/short/308/5722/672">672</a>] .</li>

			<li>A.M.C. Dawes, S.M. Clark, L. Illing, D.J. Gauthier, `<a href="files/SPIE5735_60_2005.pdf">Observation of ultra-low-light-level all-optical switching</a>,' in Advanced Optical and Quantum Memories and Computing II; H. J. Coufal, Z. U. Hasan, and A. E. Craig; Eds., Proc. SPIE <strong>5735</strong>, 60-68 (2005).</li>

			<li>A.M. Dawes, M. Beck, and K. Banaszek, `<a href="files/array_opt_pra03.pdf">Mode optimization for quantum-state tomography with array detectors</a>,' <em>Phys. Rev. A</em> <b>67</b>, 032102 (2003).</li>

			<li>A.M. Dawes and M. Beck. `Simultaneous quantum state measurements using array detection,' in Coherence and Quantum Optics VIII; N. P. Bigelow, J. H. Eberly, C. R. Stroud, and I. A. Walmsley; Eds., (Kluwer Academic/Plenum, New York, 2003) p. 301.</li>

			<li>A.M. Dawes, M. Beck, `<a href="files/arrayexpt_PRA01.pdf">Simultaneous quantum-state measurements using array detection</a>,' <em>Phys. Rev. A</em> <b>63</b>, 040101(R) (2001).</li>
		</ol>
<!-- 		<h2>Proceedings</h2>
		<ol class="pubs">
			<li>A.M.C. Dawes, <b>Noah Holte</b>, and <b>Hunter Dassonville</b>, `Quantum state tomography of slow and stored light,' in Advances in Slow and Fast Light VI; S. Shahriar, F. A. Narducci; Eds., Proc. SPIE <strong>8636</strong>, 36 (2013); <a href="http://dx.doi.org/10.1117/12.2010474">doi:10.1117/12.2010474</a></li>
			<li>A.M.C. Dawes and D.J. Gauthier, `<a href="files/cqo9_paper.pdf">Using Transverse Patterns for All-Optical Switching</a>,' in Coherence and Quantum Optics IX; N.P. Bigelow, J.H. Eberly, C.R. Stroud; Eds., (2008).</li>
			<li>A.M.C. Dawes, S.M. Clark, L. Illing, D.J. Gauthier, `<a href="files/SPIE5735_60_2005.pdf">Observation of ultra-low-light-level all-optical switching</a>,' in Advanced Optical and Quantum Memories and Computing II; H. J. Coufal, Z. U. Hasan, and A. E. Craig; Eds., Proc. SPIE <strong>5735</strong>, 60-68 (2005).</li>
			<li>A.M. Dawes and M. Beck. `Simultaneous quantum state measurements using array detection,' in Coherence and Quantum Optics VIII; N. P. Bigelow, J. H. Eberly, C. R. Stroud, and I. A. Walmsley; Eds., (Kluwer Academic/Plenum, New York, 2003) p. 301.</li>
		</ol> -->

	</div>
	<div class="col-md-6">
		<h2>Presentations</h2>
		&dagger; indicates invited presentation, <b>bold</b> indicates student presentors.
		<ol class="pubs">
            <li class="invited">Andrew Dawes, `<a href="making/files/AAPT_2014_Dawes.pdf">3D printing: Student Projects and Undergraduate Research</a>,' AAPT Winter Meeting 2014, Orlando FL, January 4-7, 2014.</li>
			<li class="invited">Andrew Dawes, <b>Noah Holte</b>, <b>Hunter Dassonville</b>, `<a href="http://www.slideshare.net/amcdawes/reed-seminar-2013">Quantum state tomography of slow and stored light</a>,' Reed College, Portland, OR, February 27, 2013.</li>
			<li class="invited">Andrew Dawes, <b>Noah Holte</b>, <b>Hunter Dassonville</b>, `Quantum state tomography of slow and stored light,' Photonics West 2013, San Francisco, CA, February 3-5, 2013.</li>
            <li>Andrew Dawes, <b>Hunter A. Dassonville</b>, <b>Noah T. Holte</b>, <b>Marcus B. Kienlen</b>, `Coherent Blue Light Emission in Rubidium,' Conference on Laboratory Instruction Beyond the First Year of College, University of Pennsylvania and Drexel University, Philadelphia PA, July 25-17, 2012 (poster).</li>
			<li><b>Marcus Kienlen, Noah Holte</b>, Andrew Dawes, 11th annual M. J. Murdock Charitable Trust College Science Research Conference, Seattle University, Seattle WA, November 11-12, 2011 (poster).</li>
			<li><b>Marcus Kienlen, Noah Holte</b>, Andrew Dawes, Pacific  University Undergraduate Research Conference, Pacific University, Forest Grove OR, November ??-??, 2011 (poster).</li>
			<li><b>Simone Carpenter, Jenny Novak, Marcus Kienlen</b>, Andrew Dawes, `Off-the-shelf Atom Trapping,' Pacific University Undergraduate Research Conference, Paciﬁc University, Forest Grove, OR, November 16, 2010 (poster).</li>
			<li><b>Simone Carpenter</b>, Jenny Novak, Marcus Kienlen, Andrew Dawes, `Off-the-shelf Atom Trapping,' 10th annual M. J. Murdock Charitable Trust College Science Research Conference, Linfield College, McMinnville OR, November 12–13, 2010.</li>
			<li><b>Simone Carpenter</b>, Jenny Novak, Marcus Kienlen, A.M.C. Dawes, `<a href="files/NWAPS2010.pdf">Off-the-shelf atom trapping</a>,' Northwest APS Section meeting, Whitman College, Walla Walla, WA, October 2, 2010.</li>
			<li class="invited">A.M.C. Dawes, `Nonlinear Optics in an Anisotropic Magneto-Optical Trap,' Reed College, Portland, OR, February 25, 2009.</li>
			<li class="invited">A.M.C. Dawes, `Nonlinear Optics in an Anisotropic Magneto-Optical Trap,' Oregon Center for Optics Seminar, Eugene, OR, January 26, 2009.</li>
			<li class="invited">A.M.C. Dawes, `Novel Geometries for Optical Trapping,' Whitman College, Walla Walla, WA, September 26, 2008.</li>
			<li>A.M.C. Dawes and D.J. Gauthier, `Transverse Patterns for All-Optical Switching,' Quantum Electronics and Laser Science 2008, San Jose, CA, May 5, 2008.</li>
			<li>A.M.C. Dawes and D.J. Gauthier, `Using Transverse Patterns for All-Optical Switching,' Ninth Rochester Conference on Coherence & Quantum Optics (CQO9), Rochester, NY, June 10-13, 2007.</li>
			<li class="invited">A.M.C. Dawes, L. Illing, J. Greenberg, S. Clark, and D. Gauthier, `Recent progress in low-light switching via optical patterns,' Conference on coherent control of the fundamental processes in optics and X-ray-optics (CCFP'2006), Nizhny Novgorod - Kazan, Russia, June 29 - July 3, 2006.</li>
			<li>A.M.C. Dawes, Z. Zhu, and D.J. Gauthier, `Improving the Bandwidth of SBS-Based Slow-Light Delay,' Conference on Lasers and Electro-Optics and Quantum Electronics and Laser Science Conference (CLEO/QELS), Long Beach, CA, May 21-26, 2006.</li>
			<li>A.M.C. Dawes, S.M. Clark, L. Illing, and D.J. Gauthier, `All-optical switching: the weak controlling the strong,' (poster) Dynamics Days 2006, Bethesda, MD, January 4-7, 2006.</li>
			<li class="invited">A.M.C Dawes, S.M. Clark, L. Illing, and D.J. Gauthier, `Observation of ultra-low-light-level all optical switching,' Photonics West, San Jose, CA, Jan. 22-27, 2005.</li>
			<li>A.M. Dawes, and M. Beck, `Mode optimization for quantum-state tomography with array detectors,' Eighth Rochester Conference on Coherence and Quantum Optics (CQ08), Rochester, NY, June 13-16, 2001.</li>
			<li>A.M. Dawes and M. Beck, `Simultaneous quantum state measurement using array detection,' Northwest Section APS Meeting, Seattle, WA, May 25-26, 2001.</li>
			<li>A.M. Dawes and M. Beck, `Simultaneous quantum state measurement using array detection,' (poster) 9th Regional Conference on  Undergraduate Research, Murdock College Science Research Program, University of Puget Sound, Tacoma, WA 2000.</li>
		</ol>
	</div>
</div>

{% include footer.html %}
