---
title: Useful Stuff
categories: main
group: "navigation"
---
{% include header.html %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <h1>Useful Stuff</h1>
    <p class="lead">Here is a collection of stuff that other people have occasionally asked for. Rather than search through my sent email, I just post stuff here. If it is useful, take it, if not, leave it for others.</p>
    <div>
      <table class="table">
        <thead><tr><td>Item</td><td>Description</td></thead>
        <tbody>
          <tr>
            <td><a href="usefulstuff/cover letter pacific.pdf">Cover Letter</a></td>
            <td>My cover letter when I applied to Pacific. I don't mind sharing this because a) it worked, and b) I didn't have many good examples when I wrote it. Pay it forward!</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/Dawes_Research_Statement.pdf">Research Statement</a></td>
            <td>My research statement (2008). This is the one I used in my application to Pacific</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/Dawes_Teaching_Statement.pdf">Teaching Statement</a></td>
            <td>My teaching statement (2008)</td>
          </tr>
        </tbody>
      </table>
      <h2>Flash Animations</h2>
      <p class="lead">Some flash animations that are useful for talks in optics and atomic physics</p>
      <table class="table">
        <thead><tr><td>Item</td><td>Description</td></tr></thead>
        <tbody>
          <tr>
            <td><a href="usefulstuff/flash/Absorption.swf">Absorption</a></td><td>Absorption animation in a two-level atom</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/Lifetime.swf">Lifetime</a></td><td>Lifetime animation in a two-level atom</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/Fluorescence.swf">Fluorescence</a></td><td>Fluorescence animation in a three-level atom</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/Inversion.swf">Inversion</a></td><td>Inversion animation in a three-level atom</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/Phosphorescence.swf">Phosphorescence</a></td><td>Phosphorescence animation in a three-level atom</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/SlowLight.swf">SlowLight</a></td><td>Slow-light animation in an EIT system</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/SpontEmission.swf">SpontEmission</a></td><td>Spontaneous emission animation in a two-level atom</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/StimEmission.swf">StimEmission</a></td><td>Stimulated emission animation in a two-level atom</td>
          </tr>
          <tr>
            <td><a href="usefulstuff/flash/StoredLight.swf">StoredLight</a></td><td>Stored-light animation in an EIT system.</td>
          </tr>
        </tbody>
      </table>
{% include footer.html %}
