      <footer>
      <p>&copy; Andrew M.C. Dawes 2013. Built with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> from Twitter. Hosted by <a href="http://www.github.com">github</a></p>
      </footer>

    </div> <!-- /container -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("a").tooltip();
  });
</script>

<script>
	var _gaq=[['_setAccount','UA-831794-5'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
