      <footer>
          <p>&copy; Andrew M.C. Dawes 2015. Built with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> from Twitter. Hosted by <a href="http://www.github.com">github</a></p>
      </footer>

    </div> <!-- /container -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("a").tooltip();
  });
</script>

<script>
	var _gaq=[['_setAccount','UA-831794-5'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<!--[if !(lt IE 8)]><!-->
   <script type="text/javascript">
            (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
   </script>
<!--<![endif]-->
</body>
</html>
